.container{
    text-align: center;
    font-family: 'outfit' regular ;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 300px;
    align-items: center;
    padding: 3px;
    margin: auto;
    justify-content: center;
  }
body{
    background-color: hsl(212, 45%, 89%);
    padding: 0px;
    display: grid;
    place-items: center;
    margin: 0px;
    font-family: 'Outfit', sans-serif;
  }
  .b{
    font-weight: 700;
  }
  img{
    border-radius: 15px;
    width: 275px;
    margin: 5px;
  }
  .d{
    padding: 0px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 400;
    margin-bottom: 35px;
    font-size: 15px;
  }